defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    option forwardfor
    # option http-no-delay

frontend ai-front
    bind *:8080
    default_backend ai-back

backend ai-back
    server sse-local 127.0.0.1:8090
