global
    log stdout local0
    nbthread 4
    tune.ssl.default-dh-param 2048
    tune.ssl.capture-cipherlist-size 1

defaults
    mode http

    timeout connect 5s
    timeout client 30s
    timeout client-fin 1s
    timeout server 30s
    timeout server-fin 1s
    timeout http-request 10s
    timeout http-keep-alive 300s

    option httplog
    option http-use-htx
    option logasap
    option http-buffer-request

frontend h2
    mode http
    bind 127.0.0.1:8443 ssl crt reg-tests/ssl/common.pem alpn h2,http/1.1
    default_backend h2

backend h2
    errorfile 200 .github/errorfile
    http-request deny deny_status 200
