policy_module(lolproxy,1.0.0)

########################################
#
# Declarations
#

type lolproxy_t;
type lolproxy_exec_t;
type lolproxy_port_t;
init_daemon_domain(lolproxy_t, lolproxy_exec_t)

type lolproxy_var_run_t;
files_pid_file(lolproxy_var_run_t)

type lolproxy_conf_t;
files_config_file(lolproxy_conf_t)

########################################
#
# Local policy
#

# Configuration files - read
allow lolproxy_t lolproxy_conf_t : dir list_dir_perms;
allow lolproxy_t lolproxy_conf_t : file read_file_perms;
allow lolproxy_t lolproxy_conf_t : lnk_file read_file_perms;

# PID and socket file - create, read, and write
files_pid_filetrans(lolproxy_t, lolproxy_var_run_t, { file sock_file })
allow lolproxy_t lolproxy_var_run_t:file manage_file_perms;
allow lolproxy_t lolproxy_var_run_t:sock_file { create rename link setattr unlink };

allow lolproxy_t self : tcp_socket create_stream_socket_perms;
allow lolproxy_t self: udp_socket create_socket_perms;
allow lolproxy_t self: capability { setgid setuid sys_chroot sys_resource kill };
allow lolproxy_t self: process { setrlimit signal };


logging_send_syslog_msg(lolproxy_t)

corenet_tcp_bind_all_ports(lolproxy_t)
corenet_tcp_connect_all_ports(lolproxy_t)
corenet_tcp_bind_all_nodes(lolproxy_t)
corenet_tcp_sendrecv_all_ports(lolproxy_t)
corenet_tcp_recvfrom_unlabeled(lolproxy_t)

# use shared libraries
libs_use_ld_so(lolproxy_t)
libs_use_shared_libs(lolproxy_t)

# Read /etc/localtime:
miscfiles_read_localization(lolproxy_t)
# Read /etc/passwd and more.
files_read_etc_files(lolproxy_t)

# RHEL5 specific:
require {
	type unlabeled_t;
	type lolproxy_t;
	class packet send;
	class packet recv;
}

allow lolproxy_t unlabeled_t:packet { send recv };

